* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
#navbar {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 200px;
  background-color: #858585;
  position: fixed;
}
